$primary-color: #333;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.header {
  // background: #282c34;
}

.header img {
  max-width: 125px;
}

.member {
  // background: #282c34;
}

.header .headerButton {
  background-color: transparent;
}

.footer {
  position: fixed;
  bottom: 0;
  max-width: 100% !important;
}

.contentWrapper {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.sidebar {
  width: 175px;
  margin-right: 25px;
  background: #101d25;
  border-radius: 7px;
}

.mainColumn {
  width: 960px;
  background: rgb(12 58 49 / 80%);
  padding: 15px;
  border-radius: 7px;
}

.innerMainColumn {
  width: 100%;
  background: #101d25;
}
